.env
**/.env
snmp-exporter/snmp.yml

/grafana/grafana_data/
/n8n/n8n_data/
/pihole/etc-pihole/
/pihole/etc-dnsmasq.d/
/prometheus/prometheus_data/
/tailscale/tailscale_data/
/tailscale/tailscale_tmp/
/nginx-proxy-manager/npm_data/
/nginx-proxy-manager/npm_letsencrypt
/nginx-proxy-manager/logs/
/loki/loki-data/
/homepage/config/kubernetes.yaml
/homepage/config/proxmox.yaml
/homepage/config/logs/
/cockpit/config/ws-certs.d/
