TIMEZONE=America/New_York

MYSQL_ROOT_PASSWORD=changeme_root
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_PASSWORD=changeme_db

NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=changeme_admin
NEXTCLOUD_DOMAIN=nextcloud.truehlab.com
NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.truehlab.com
